<footer class="footer">
  <a title="Botón top" href="#header" class="footer__button"> </a>

  <section class="container">
    <nav>
      <ul class="footer__list" class="prueba">
        <li>
          <a href="https://adalab.es/" class="footer__list__link">ZAPATILLAS</a>
        </li>
        <li>
          <a href="https://adalab.es/" class="footer__list__link">ROPA</a>
        </li>
        <li>
          <a href="https://adalab.es/" class="footer__list__link">NIÑO/A</a>
        </li>
        <li>
          <a href="https://adalab.es/" class="footer__list__link">DESTACADOS</a>
        </li>
        <li>
          <a href="https://adalab.es/" class="footer__list__link">TIPS</a>
        </li>
      </ul>
    </nav>

    <nav>
      <ul class="footer__list">
        <li class="footer__list__item">
          <a href="https://adalab.es/" class="footer__list__link">TWITTER</a>
        </li>
        <li>
          <a href="https://adalab.es/" class="footer__list__link">INSTAGRAM</a>
        </li>
        <li>
          <a href="https://adalab.es/" class="footer__list__link">YOUTUBE</a>
        </li>
      </ul>
    </nav>

    <div class="footer__logo">
      <p>©2023</p>
      <p>
        we
        <span class="footer__logo--color">
          <i class="fa-solid fa-heart"></i
        ></span>
        run
      </p>
    </div>
  </section>
</footer>
