<footer class="footer">
  <nav class="footer_nav">
    <ul class="footer_ul">
      <li>
        <a href="https://adalab.es/" class="footer_button">ZAPATILLAS</a>
      </li>
      <li>
        <a href="https://adalab.es/" class="footer_button">ROPA</a>
      </li>
      <li>
        <a href="https://adalab.es/" class="footer_button">NIÑO/A</a>
      </li>
      <li>
        <a href="https://adalab.es/" class="footer_button">DESTACADOS</a>
      </li>
      <li>
        <a href="https://adalab.es/" class="footer_button">TIPS</a>
      </li>
    </ul>
  </nav>

  <nav class="footer_nav">
    <ul class="footer_ul">
      <li>
        <a href="https://adalab.es/" class="footer_button">TWITTER</a>
      </li>
      <li>
        <a href="https://adalab.es/" class="footer_button">INSTAGRAM</a>
      </li>
      <li>
        <a href="https://adalab.es/" class="footer_button">YOUTUBE</a>
      </li>
    </ul>
  </nav>

  <section>
    <p>©2023</p>
    <p>we❤︎run</p>
  </section>
</footer>
