<section class="section2">

  <h4 class="section2__title">Año nuevo, sentimiento nuevos</h4>
  <h5 class="section2__bold">Entrenamientos</h5>
  <p class="section2__text">Sesiones de running y entrenamiento</p>
  <h5 class="section2__bold">Cualquier nivel</h5>
  <p class="section2__text">Entrenamiento para cada nivel</p>
  <h5 class="section2__bold">Exclusividads</h5>Productos para miembros premium</p>
  <a href="https://adalab.es/" class="section2_button">EMPEZAR AHORA</a>

</section>
