<section class="section2" id="section2">
  <h4 class="section2__title">Año nuevo, movimientos nuevos</h4>

  <article class="section2__article">
    <h5 class="section2__article__title">Entrenamientos</h5>
    <p class="section2__article__text">Sesiones de running y entrenamiento</p>
  </article>

  <article class="section2__article">
    <h5 class="section2__article__title">Cualquier nivel</h5>
    <p class="section2__article__text">Entrenamiento para cada nivel</p>
  </article>

  <article class="section2__article">
    <h5 class="section2__article__title">Exclusividad</h5>
    <p class="section2__article__text">Productos para miembros premium</p>
  </article>
  <a href="https://adalab.es/" class="section2__button" title="Empezar ahora"
    >Empezar ahora</a
  >
</section>
