// Esta es la variable que usaremos como tamaño por defecto
$defaultFontSize: 1.8rem;



// Estos son los tamaños para las media-queries

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

// fonts
$font-text: 'Roboto', sans-serif;
$font-h: 'Roboto Slab', serif;

// colors


$color--brand: #f26002;
$color--dark: #4a4a4a; 
$color--light : #f2f2f2; 
$color-black: #000000;
$color--white: #ffffff; 

