.footer {
    background-color: $color--dark;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    
    &__list{
        
        color: $color--white;
        list-style: none;
        align-items: center;
        text-align: center;
        margin-bottom: 30px;
        animation: slideall 1s 1;
            animation-name: slideall;
            animation-duration: 3s;
            transform: translatey(0);

        &__link{
            list-style: none;
            color: $color--white;
            font-size:1.6rem;
            font-family: $font-text ;
            text-decoration: none;
            line-height: 1.88;

            &:hover{

                color: $color--brand;
                
            }
            

        }
    }

    &__logo{
        
        margin-bottom: 50px;
        color: $color--white;
        font-size:1.4rem;
        font-family: $font-text ;
        line-height: 30px;
        text-align: center;
        animation: run 1s 1;
        animation-name: run;
        animation-duration: 3s;
        transform: translatex(0);

        &--color {
            color: $color--brand;
        }

        &__heart{

        display: inline-block;
        animation-name: heart;
        animation-duration: 2s;
        animation-timing-function: ease;
        animation-iteration-count: infinite;
        transform: scale(1.2);

        }


    }

    &__button {
        
        position: relative;
        top: -22.5px;
        background-color: $color--white;
        background-image: url(../images/ico-arrow.svg);
        background-repeat: no-repeat;
        background-size: 2rem;
        background-position: center;
        height: 45px;
        width: 45px;
        border-radius: 50%;
                
        &:hover{
            animation-name: rotate;
            animation-duration: 3s;
            transform: rotate(360deg);
        }
    
    }
    
}



@keyframes rotate {
    from {
        transform: rotate(0deg);

    }
    to{
        transform: rotate(360deg);
    }

}



@media all and (min-width: $breakpoint-tablet) {

    .container{
        width: 80vw;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        text-align: center;
       
    }


    .footer__logo{
        order: -1;

    }

    
}


@media all and (min-width: $breakpoint-desktop){

    .container{
        width: 60vw;
   
}
    
}
 


