.header {
    display: flex;
    flex-direction: column;
    background-image: url(../images/cover.jpeg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    justify-content: flex-end;
    align-items: center;
   

    &__h1{
        font-family: $font-h;
        color:$color--white; 
        font-weight: bold;
        font-size: 3rem;
        line-height: 1.67;
        text-align: center;
        
    }

    &__text {
        font-family: $font-text;
        color:$color--white; 
        font-size: 1.6rem;
        text-align: center;
        

    }

    &__button--scroll {
        background-color: $color--white;
        background-image: url(../images/ico-scroll-down.svg);
        background-repeat: no-repeat;
        background-size: 2rem;
        background-position: center;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        margin: 1rem auto 5rem auto; 
       
    }
    
    &__button--menu {
        position: fixed;
        top: 0px;
        left: 0px;
        background-color: $color--brand;
        background-image: url(../images/ico-menu.svg);
        background-repeat: no-repeat;
        background-size: 1.5rem;
        background-position: center;
        height: 35px;
        width: 35px;
        
    }
}
