 .section1{

    justify-content: center;
    align-items: center;
    margin: 34px 16px 60px 16px;

    &__small{
        color: $color--brand;
        font-size: 1.4rem;
    }

    &__h{
        font-family: $font-h;
        line-height: 1.5;
    }

    &__t{
        font-family: $font-text;
        color: $color--dark;
        font-size: 1.8rem;
        line-height: 30px;
        margin-bottom: 20px;
    }
    &__button{

        font-family: $font-text;
        color: $color--brand;
        font-size: 2rem;
        border:solid 2.5px $color--brand;
        padding: 8px 40px;
        font-weight: 500;
        border-radius: 22.5px;
        text-decoration: none;
        width: 18.4rem;
        height: 4.5rem;
        transition: transform 1s;


        &:hover{
            background-color: $color--brand;
            color: $color--white;
            transform: scale(0.8);
            
            }

        
    }

}

@media all and (min-width: $breakpoint-tablet) {

    .section1{

        margin: 37px 37px 60px 60px;
    
        &__small{
            font-size: 1.6rem;
        }
    
        &__h{
    
            font-size: 3.2rem;
        }
    
        &__t{
            font-size: 2rem;
            margin-bottom: 30px;
        }
       
        &__button{
            padding-top: 10px;
         
            
        }
    
    }
    
}
@media all and (min-width: $breakpoint-desktop){

    .section1{

        margin-left: 230px;
        margin-right: 100px;
    
           
    }
    
}
   
    
 
